.header__lang-link {
    text-decoration: none;
    color: white;
    line-height: 1.17;
    font-size: 24px;
}

.header__lang-link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 767px) {
    .header__lang-link {
        line-height: 1.11;
        font-size: 18px;
    }
}
