.intro {
    margin: 92px auto 0;
    max-width: 77%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (max-width: 1279px) {
    .intro {
        max-width: 91%;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        max-width: 94%;
        margin: 88px auto 0;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        max-width: 90%;
        margin: 64px auto 0;
    }
}

